.alert-danger
{
    padding: 1rem;
}

nav.navbar a.navbar-brand
,nav.navbar a.navbar-brand:hover
{
    color: #fff;
}

a.quoteBadge , span.quoteBadge
{
    padding: 1.1em;
    margin-right: 0.25em;
    font-family: monospace;
}

.quoteDivContainer
{
    position: relative;
}

.quoteTextContainer
{
    margin-right: 4em;
}

a.nav-link
{
    color: white;
}

div.badgeContain
{
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

